.libs
.deps
*.trs
*.log
*.o
*.lo
*.la
.clangd
.vscode
compile_commands.json
aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
test-driver
Makefile
Makefile.in
tests/test_argpar
